[submodule "backend/2023-stamp-crush-submodule"]
	path = backend/2023-stamp-crush-submodule
	url = https://github.com/woowacourse-teams/2023-stamp-crush-submodule.git
[submodule "backend/src/main/resources/security"]
	path = backend/src/main/resources/security
	url = https://github.com/woowacourse-teams/2023-stamp-crush-submodule.git
